@using HospitalProject.Class;
@model IEnumerable<SpecialityClass>
@{
    ViewData["Title"] = "Index";
    string specialityName = ViewBag.specialityName;
}

<br />
<div class="row">
    <div class="col-6">
        <h3>Lista de Especialidades</h3>
    </div>
    <div class="col-6">
        <a asp-action="Create" class="btn btn-success d-block">Agregar Nueva Especialidad</a>
    </div>
</div>
<br />
<div>
    <form id="frmfilterSpecialties" asp-action="Index" method="get">
        <label>Buscar por Nombre:</label>
        <input id="filterSpecialties" type="text" name="specialityName" value="@specialityName" autocomplete="off"/>
        <input class="btn btn-success" type="submit" value="Buscar"/>
        <input class="btn btn-danger" type="button" value="Limpiar" onclick="Clean()"/>
    </form>
</div>
<br />
<div class="row">
    <table class="table">
        <a asp-action="ExportExcel">Exportar a Excel</a>
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Id)</th>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.Description)</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var speciality in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(model => speciality.Id)</td>
                    <td>@Html.DisplayFor(model => speciality.Name)</td>
                    <td>@Html.DisplayFor(model => speciality.Description)</td>
                    <td>
                        @*<a class="fa fa-edit btn btn-warning" onclick="btnEdit(@speciality.Id)"></a>*@
                        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@speciality.Id">Editar</a>
                        <i class="fa fa-trash btn btn-danger" onclick="btnDelete(@speciality.Id)"></i>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <form id="frmDeleteSpeciality" asp-action="Delete" hidden>
        <input id="EspecialityId" type="text" name="Id"/>
    </form>
</div>

<script src="~/js/sweetalert.js"></script>
<script src="~/js/generic.js"></script>

<script>
    function Clean(){
        document.getElementById('filterSpecialties').value = "";
        document.getElementById('frmfilterSpecialties').submit();
    }

    function btnDelete(specialityId) {
        document.getElementById('EspecialityId').value = specialityId;
        confirmBtnModal().then((result => {
            if (result.isConfirmed) {
                document.getElementById('frmDeleteSpeciality').submit();
            }
        }));
    }
</script>

                    