@using HospitalProject.Class
@model IEnumerable<PersonClass>

@{
    List<SelectListItem> sexsList = ViewBag.SexsList;
}

<br />
<div class="row">
    <div class="col-6">
        <h3 class="text-center text-danger">Lista de Personas</h3>
    </div>
    <div class="col-6">
        <a class="btn btn-success d-block" asp-action="Create">Agregar Nueva Persona</a>
    </div>
</div>
<br />
<div>
    
</div>
<br />
<div>
    <form id="frmFilterSex" asp-action="Index" method="get">
        <label>Seleccione Sexo:</label>
        @Html.DropDownList("IdSexo", sexsList, new { @class = "form-control" })
        <input id="selectedSex" class="btn btn-success" type="submit" value="Buscar"/>
        <input class="btn btn-danger" type="button" value="Limpiar" onclick="clean()"/>
    </form>
</div>
<br />
<table class="table" id="tablePaginate">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.LastName)</th>
            <th>@Html.DisplayNameFor(model => model.Sex)</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var person in Model)
        {
            <tr>
                <td>@Html.DisplayFor(p => person.Id)</td>
                <td>@Html.DisplayFor(p => person.Name)</td>
                <td>@Html.DisplayFor(p => person.LastName)</td>
                <td>@Html.DisplayFor(p => person.Sex)</td>
                <td>
                    <a class="btn btn-primary" asp-action="Create">Editar</a>
                    <i class="fa fa-trash btn btn-danger" onclick="btnDelete(@person.Id)"></i>
                </td>
            </tr>
        }
    </tbody>
</table>

<form asp-action="Delete" id="frmDeletePerson">
    <input type="text" name="id" id="personId"/>
</form>

<script src="~/js/sweetalert.js"></script>
<script src="~/js/generic.js"></script>

<script>
    window.onload = function() {
        let table = new DataTable('#tablePaginate');
    }

    function clean() {
        document.getElementById('IdSexo').value = "";
        document.getElementById('frmFilterSex').submit();
    }

    function btnDelete(personId){
        document.getElementById('personId').value = personId;
        confirmBtnModal().then((result) => {
            if(result.isConfirmed) {
                document.getElementById('frmDeletePerson').submit();
            }
        })
    }
</script>
