@using HospitalProject.Class
@model IEnumerable<MedicineClass>

@{
    List<SelectListItem> listPharmaceuticalForm = ViewBag.ListPharmaceuticalForm;

    string medicineName = ViewBag.MedicineName;
}

<br />
<div class="row">
    <div class="col-6">
        <h3 class="text-center">Lista de Medicinas</h3>
    </div>
    <div class="col-6">
        <a class="btn btn-success d-block" asp-action="Create">Agrear Nueva Medicina</a>
    </div>
</div>
<br />
<div>
    <form id="frmFilterPharmaceuticalForm" asp-action="Index" method="get">
        <label>Seleccione Forma Farmacéutica:</label>
        @Html.DropDownList("IdPharmaceuticalForm", listPharmaceuticalForm, new { @class = "form-control" })
    </form>
</div>
<br />
<br />
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Price)</th>
            <th>@Html.DisplayNameFor(model => model.Stock)</th>
            <th>@Html.DisplayNameFor(model => model.PharmaceuticalForm)</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var medicine in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m => medicine.Id)</td>
                <td>@Html.DisplayFor(m => medicine.Name)</td>
                <td>@Html.DisplayFor(m => medicine.Price)</td>
                <td>@Html.DisplayFor(m => medicine.Stock)</td>
                <td>@Html.DisplayFor(m => medicine.PharmaceuticalForm)</td>
                <td>
                    <a class="fa fa-edit btn btn-outline-primary" asp-action="Edit" asp-route-id="@medicine.Id"></a>
                    <i class="fas fa-trash btn btn-danger" onclick="btnDelete(@medicine.Id)"></i>
                </td>
            </tr>
        }
    </tbody>
</table>

<form asp-action="Delete" id="frmDeleteMedicine">
    <input type="text" name="id" id="medicineId"/>
</form>

<script src="~/js/sweetalert.js"></script>
<script src="~/js/generic.js"></script>

<script>
    var IdPharmaceuticalForm = document.getElementById('IdPharmaceuticalForm');
    IdPharmaceuticalForm.onchange = function () {
        document.getElementById('frmFilterPharmaceuticalForm').submit();
    }

    function btnDelete(medicineId) {
        document.getElementById('medicineId').value = medicineId;
        confirmBtnModal().then((result) => {
            if(result.isConfirmed) {
                document.getElementById('frmDeleteMedicine').submit();
            }
        })
    }
</script>
