@using HospitalProject.Class
@model IEnumerable<MedicineClass>

@{
    List<SelectListItem> listPharmaceuticalForm = ViewBag.ListPharmaceuticalForm;
}

<br />
<div class="row">
    <div class="col-6">
        <h3 class="text-center">Lista de Medicinas</h3>
    </div>
    <div class="col-6">
        <a class="btn btn-success d-block" asp-action="Create">Agrear Nueva Medicina</a>
    </div>
</div><br />
<div class="row">    
    <div class="col-3">
        <select class="form-select" id="cboPharmaceuticalFormId" onchange="FilterMedicineByPharmaceuticalForm()">
            @foreach (var item in listPharmaceuticalForm)
            {
                <option value="@item.Value">@item.Text</option>
            }
        </select>
    </div>
</div><br />
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Price)</th>
            <th>@Html.DisplayNameFor(model => model.Stock)</th>
            <th>@Html.DisplayNameFor(model => model.PharmaceuticalForm)</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody id="tblData">
    </tbody>
</table>

<script src="~/js/sweetalert.js"></script>
<script src="~/js/generic.js"></script>

<script>
    window.onload = function() {
        let url = `Medicine/ListMedicine`
        paintData(url, ["id", "name", "price", "stock", "pharmaceuticalForm"], "id", "Medicine");
    }

    function FilterMedicineByPharmaceuticalForm() {
        let pharmaceuticalFormId = document.getElementById('cboPharmaceuticalFormId').value;
        let url = `Medicine/MedicineByPharmaceuticalForm/?pharmaceuticalFormid=${pharmaceuticalFormId}`
        paintData(url, ["id", "name", "price", "stock", "pharmaceuticalForm"], "id", "Medicine");
    }

    function btnDelete(medicineId) {
        confirmBtnModal().then((result) => {
            if(result.isConfirmed) {
                $.get(`Medicine/Delete/?medicineId=${medicineId}`, function(response) {
                    if(response) {
                        let url = `Medicine/ListMedicine/`
                        paintData(url, ["id", "name", "price", "stock", "pharmaceuticalForm"], "id", "Medicine");
                    }
                })
            }
        })
    }

</script>
